{% extends "base.html" %}

{% block content %}
  {% include "landing/includes/hero.html" %}
  {% include "landing/includes/about.html" %}
  {% include "landing/includes/cases.html" %}
  {% include "landing/includes/corpus.html" %}
  {% include "landing/includes/penalty.html" %}
  {% include "landing/includes/damage.html" %}
  {% include "landing/includes/circumstances.html" %}
  {% include "landing/includes/advice.html" %}
  {% include "landing/includes/when.html" %}
  {% include "landing/includes/why.html" %}
  {% include "landing/includes/process.html" %}
  {% include "landing/includes/faq.html" %}
  {% include "landing/includes/contacts.html" %}
  {% include "landing/includes/modal.html" %}
{% endblock %}
